@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Cardinal Stritch University<br />
    Milwaukee, WI 53-217<br />
    <abbr title="Phone">P:</abbr>
    414.368.8221
</address>

<address>
    <strong>Support:</strong> <a href="mailto:jpleszczybski@wolfmail.stritch.edu">jpleszczynski@wolfmail.stritch.edu</a><br />
</address>
