@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    <strong>Github:</strong> <a href="https://github.com/jedleszczynski">https://github.com/jedleszczynski </a><br />
    <strong>Email:</strong> <a href="mailto:jedrzej.leszczynski@gmail.com">jedrzej.leszczynski@gmail.com</a><br />
</address>
