@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1>Welcome to sample Medical Center ASP.NET Core application!</h1><br />
<h2>This app demonstrates  the following:</h2>
<ul>
    <li>Usage of ASP.NET Core </li>
    <li>Usage of C# Programming Language </li>
    <li>Usage of HTML, CSS, JS and Bootstrap </li>
    <li>Working knowledge of SQL </li>
    <li>Working knowledge of Unified Modeling Language</li>
</ul>
    <div class="mxgraph" style="max-width:100%;border:1px solid transparent;" data-mxgraph="{&quot;highlight&quot;:&quot;#0000ff&quot;,&quot;lightbox&quot;:false,&quot;nav&quot;:true,&quot;resize&quot;:true,&quot;page&quot;:0,&quot;toolbar&quot;:&quot;pages zoom&quot;,&quot;edit&quot;:&quot;_blank&quot;,&quot;xml&quot;:&quot;&lt;mxfile modified=\&quot;2020-06-23T12:29:57.885Z\&quot; host=\&quot;www.draw.io\&quot; agent=\&quot;5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.106 Safari/537.36\&quot; etag=\&quot;En68t-j0jyAGRml7rpe4\&quot; version=\&quot;13.1.12\&quot; pages=\&quot;2\&quot;&gt;&lt;diagram id=\&quot;s1y8U-qlGdHbbmoK_ESt\&quot; name=\&quot;ERDiragram\&quot;&gt;7V1Zd5s4FP41OafzEB9JIAGP2Zu2aTNJ2ixvxMiGGQwejBM7v36EDRgkBZPUgBw3LzFiv7rf3XXZ045Gs7PIHrsXoUP9PQSc2Z52vIcQwhZm/5KR+XIEagZYjgwjz1mOFQauvReaHpiNTj2HTtKx5VAchn7sjcuD/TAIaD8ujdlRFD6XDxuEvlMaGNtDKgxc921fHL31nNhNRwnWVzs+U2/oZreGxFruGdnZ0emrTFzbCZ8LQ9rJnnYUhWG8/DWaHVE/IV9GGDiYHWmXt1+/AEr9c/R4//Pk1/7yYqdvOSV/h4gG8WYvTdJXi+cZwajD6JduhlHshsMwsP2T1ehhFE4DhyZXBWxrdcy3MByzQcgG/6FxPE+ZwZ7GIRty45Gf7qUzL74r/L5PLtXD6dbxLL3yYmOebQRxNL8rbhTOSjZXpy22Vuc5Bwkbsc0gDOhy5NTz/XR/TdKmUzAJp1GfVhyHUha3oyGtup62PC4hdoFP04k7o+GIspdgB0TUt2PvqczMdoqJYX7catrZj3Tm38AF6VM/2f40vdMlu2tCEZ47ynP/7HoxvR7bC5I8MwlSnue30faJRjGdVVIj3YvN9JRUKOFMJj0XEJ6h1i2Am4CGCGh1CaMVdO4Le16DUatw0GrCASsFB4wqpzMl3AbnDxUnENSUgyvRl0+7OnKw7sTraglCTRCEB+Nx6AXxSFlhaGHVhCGEAqX+GBW/AyZY16pQS4zquFUx+raJb3UCdbLpiUlPvUxk00oWmACUZIGhcRhfclB6Fje9+WP8xoyLdqQ7n3h9zw7UFJ4EloWnqXUtPDO/tDXbQ1nbcePCTI4ZCCDoGQCbJtIwsvRM2M4z9douhHC1R75DQhPXVXpGS4wC9bJ0NbHVy7kGGoS0yyiCrL2gzmUU9qkzjaia4pa3VRUQt1q74lZduLWEIoOBxir8mSWGwFaXkDIESLnszgKS3HD0OJ10hyKDlOUQJhIUQQmKzMY8PiBQbkgDGtkxVZB+llGWQsQS6WdKyGc1Rj4x/jqm0SCMRgpSzzBJWYajzrmvWob/iTe82V2taXllfNu4ztCgnOWySyzfSNALwoUs3t3jL9SwgoGig/yJPcHRxV8CBzM0xmWGi+jEe7EfFwckk76ISy6eGx/u4WM2kjDpZMmvyQm27w0D9tung+RSCcS9vu0fpMNxwuiHEyZAvGB4s+B6NvPNCQ6T0/UEioJDl8gNfo42JzdEE1qMXH68eTA4EMjmQWaDNzcPREQF3BVUQICMskzqHBbmTsICAp3DhaZ3jAvrj7ZYwUKS1moVFkj0cXYBFgYf9JLMQ6uo0AyB6uoESGXmvWKZ+bwKb22JklrZxOzCYpHSt+/2SAx4skt64wntzlHOSyAzfaKL+kQa7GzMUdZUzi1shWeM0JaCR4wwpeA53Q7wYN3qQVL46xpKQKDZLuTkUN3QENp4OuH3+F8MvDycX+4hYo8Shg4eJ+OcWErBwCzDwKhb3NUc44tGr0IKQzVbq24OWzW4iJGx65urk5Mb9REi809aRghSDSFKVwojsqUYEaOWR+c39+ojxOocIbpoPLVX41a7vB4pjRqjLmrUAo1YYvEpdUQOHCeik8lfzCjzk8DXY8R+DWMlzTKdlEPFBu4aUprZKqQ26aK85vob63z/DUNKq22sbRpS8mQ15iKv2DDLl2g4Wa2JRmCG1dOp7ydxAzER0Tk0NYujGuk66qaL9mBbJYbr6rlf0XVgDfDaLkepG7FWS9dlj13AT6bbpplqS/F0fpztYXeaKqz3tDK49M71nl65Yu/YjhWMbfKpTR1ZPdw1HSXeTETVrN/kl38bUEK9VisQ9XZzkh9xwXDdwHJbS+kMAHtpEbq+WB1UYjlTAz29uGiofPna9YhY6xUuAsuVQKT6Jk2v5Xul+gTuQvUJwVzcXVIi3mr1SfY8O1kLRDib3pCUnLc7G6JrlK+8upmPFbQ5+JVXVueWGxZDQTkN1cxJM5uCi6Qi6WqlzkhKWvY037R2OLdCDJV9TVLX11Srbwmp4WsW/KJt8Tch0MsmUeIqQeY/MQWdtHDTYdfBHdJuSdX7UhkKm/2kbqMgolZBFRHjDnmrC0VLqnRU1l4MXF3bAKRtv/kd6IEqo6eu16waeioaxShazZu31VIIPe3m/D5iGp3UzfnpauFHkpoTcwu5PkqzdTKbT8EMHha8rK6D4xn01QaaoTTQrO0EmhgEfR1n2+JVEaPLWNDh7PvXs9uxZ5/6v+4ffsDD+8c1XajVWJeijiKTUbBuOVh3YQvZU4tRiys6oFFk+wJDKNG/ykA4y9RmORpTVE6mJUJnIw2sZCTssl3g1iUeZQREEuRU8KoiyEHr9VIGpW1RS0bmFWZZHlNUS1m4rQitrM3sxmncbvta8B5gKWPzyegnC+2pjywxsPcj8oZewMY+/VDQXTIxBxtJeb+BRNjwfU03RkAxr6dwLziT66VHJNST9YLDTQkdleu45XXaHS7RrpAma6VOS/0uTVg2GPNitTfXCnFVb6TB3t4yeome8C60P7F0rmmZJOrbWPsTKXuLlt/ulGWZkNN1LRYC9cndL4DO0MsouHW/zm4/PxmuxIFtR3w3JlKlbwkkIlWp+vuqpxZbXpyMbM//9FNBW07jlmoSYvUMAxkAA8OEbcbBpRQVa8Q/IrfXrUhQi9sl9QhLbr90E5qpx+pcgxfdBD2oEQ0jrFmAtMnr86uHa3z4sD98ikMffn4en01tiR3e5QqtUhFCMRTdus0tJVZdBdFZFULVU1fmdrKK1G0JosEcJZmJ1GaZgpTMVjtIqu2+clhSDEpoK6EkOiU5ci4jr6+g/oGIb2wp62PfKlAkX1HIhM4gXIQCVgQk/03DbMf+0mE7YAcgPJ6tdmZi6oI6idd2xEhII3bUSRB7cUKLqwVzhMHE9cZs89izh5E9knVgyGXf8knKwxWtGj6eD4qNckmy5BM2uiVhGz5cszm2eb32uy7bQF3GNo/JW39hchqBb3Ty0n+ZB5N/PaFp2hHaO7Be5ZAPzw8QaOUPYkBgWaIkwQ2FJQbfBgHR0c/pdT8kweDhx7cvd/tiZO6Pyn2dWnWt185qJ6qeuoD6mzC2/d9Ut449cRds0qyRSsoyFLe6jsMZ/8ue243hZ+C93D31z++f9sVCdCU/sfhaTQVYg6j3I0ZKLbMmYjYeIpGnRohJesXesJyCzuoKGkiUyIgjAvPI94JERV3RCbWjvruG1xRpq4CA1TMtzULAtExdM2pGZDZS6VTBdKp/nQ1bZTJqkoxyZiC0Itqa9L8/nmiTGQMV3Ni4aNNBz9RWf+VkMiZWaW89QffGmyDuJtkHGNYksDclTiVe8Q51PuANJUmpdmOdD6SzIUZ6dmg2uDVgeaVvZ7Oxbd9C6bRaSEpBWbavQi90UKRY9dhVuQve6tyWFIbGNZmDJugBiAk2iaEzjQeMeoZoYwYV7LBG712YW9tJtW3QyZYtbwHoxFXLPMbUXLuscakOJOlmBbWGIHQzs7Xw9J+n27+/jODDxffR6A5IfOSLqR97Y0YyBBxvMKALGrAjvInHTAQh0TDKD+c/4bGDKQkIAd85TuKsyyb4HUkJthmFSZ5gZeQzRnYvQocmR/wP&lt;/diagram&gt;&lt;diagram id=\&quot;qidepdBMAHyIve1rttcu\&quot; name=\&quot;MedicalCenterDbSchema\&quot;&gt;7V1dc5s4FP01nuk+pAPiw/Zj7CTbzCatJ0m33b7JoBhtMWJBTuz++pVAMmCB49gG3IRmpoGLxIfO0b1XR4L0jPF8+WcEQ++WuMjvAc1d9oyLHgBA69vsF7esUouuDYVlFmFX2DLDPf6FZEFhXWAXxYWClBCf4rBodEgQIIcWbDCKyHOx2CPxi1cN4QwphnsH+qr1G3apJ6y6pmUHPiE888SlB5Y4MIeysDDEHnTJc85kXPaMcUQITbfmyzHyeevJdnnqf/o6Ac/TweU0RFP67fru7PwsPdnVa6qsHyFCAd371Jo5/PH32eAT6t/G47NRZHjWtzPDFM9GV7LBkMvaT+ySiHpkRgLoX2bWUUQWgYv4aTW2l5W5ISRkRp0Z/0WUrgQZ4IISZvLo3BdH0RLT76I63/6Hb3+0xN7FMnfoYiV3AhqtvssT8J1cLb6bVUv2snruOacR23V8GMfYSY1X2Je3kzYBf+4NyrzQ3qJcTBaRg7Y0sm4J3sNohug2NPQ1rViHRGSO2JOwihHyIcVPxduDomPM1uUy8NmGwP81XLA6LtTOBWDuyAVgt8oFu+NC/X5hVy606xb6bVJB34cK2u9Hhf6uVBi2yoVBeuIn6C/EpXrA9tkNjx4Ja4g8S+z/FkQeOIsTnM9ZAcMOl9lBtjXjv2+Ri1nONmatiaKL6V3yNJww946H5lBehN10ep20lkJMipa0yKMIsUvDaVKAYx0SHNCkWaxRz7pgFs699PaSCtDHs4Bt++iRn+oJRZTf2bkwU87fURxCBwezh4TMZ+b6VnhptNyDIiqg4izG0EjPI/LvgUhGn7Nc1hoKm5dLY2XSenQKmMPfLjK80h3U3ddN0JDbT6oyzwZXuQKiA2RnnnBDRjhJppXkHyiOKrYXNw1ta3HDOKy8AYYbDE6fL+PzuqH2p7gcAXYU35vi2o4UN602w5mlK+Hs3HVxGnmS2+eBg52E9RctQIjjyx1rGoymkYxDU+TARcxLkkf23y0MVonMkW1HIqDFHg7V+mWWNx/Z1gqMdAWm9dFSgts6kOWDm1lXcNMUPkwYbPwpN/GIn/HchwESCY70DRwIx8O+ewNXZMFvN6bQ+Sn3Rh6J8C9WHkoU2eGICp/AhnzsbCzpHBOfRMl1DKTxn0LNe35Gca2EBGgikdA3TLdwWSh4A2Mq75L4PgxjnBKIV5yzzoqDEaGUzEUh+ZRXxZt6TP7lKOUkeZtsC0G5WtMis5gWgcGwhDy6XZYZSc3r6OxRvYlgz/WFyh8PhnyTtQPF0L9DDoXBLIkkSUdMmj/tqSl+4gH49lRCtHOvzpMqIAlrRUe/SS9hmJnpTlyKmwg736OfDI087LooSCIdhbTS8YxYk495BGIuCIzZvp7tJ14pZLFxzDwhjSBOGIAYKZ8RJ+bIjUj4IGOGtsEnsNHX9J3IVd3PVXJJMtk7MsmuiUhAJdJfBzNomu/YJYR4TXgQrDkaaV7iBX9GwfdNRlSSQEwoiGv21oHkRXJUeJ4cG4wmyWBUeZWrz3COqhIF1ozkJ9qA+EU3cBpeYGeID+znFmi5n5tV0N500B4GbX/QMrRWFbQ/ric9flVDTwdiuc0O7n3h1jWzZbztUrw54Pc0QkgdQHTo7o6ujLetoduv6s1jTFcdtAdAa7Wda6szGgLaicfg+byYT1HUOeyj4z5oO/caVuF+OYeY1/7w9Y/3gHB+RG3WBTfQ2s7HdFXaOw+TZp138t7JyXv2/vLe2rMcn0IlswUZhTqN71ga3/5OSD9xXU/vhL1Whb0TU/Z0VdrLOZQLSFGXeB7dCbQu+umq6nfFnICWzRWNQe9cXYLwBkEuplZ1Id66FqirYmCC+B16RFEE/ZLU4Q2CXRu+7Yt/uqr+PbCG9ScRdt6FjO/C2EvWPum1At26DqirQmDSk2+RO4mIg9xFhLrefBjIrSuCuioJ5vFV8/VOK2hTKxiAolZg2WBnrcCqjUOqvPiCj+jEgqbFgsFWP9S6WABUxbITCxoUCypetGlLLACq+pj3KA+r8F1kmrX199Z1AaCKg3mAuxVBBwLcugwAVLkvD/C7GSzWhnD7QgCo0va8VYwdDINucHgYwq0rAKBkYZ8EtxsZntbI0JIjecEee1g2MgRa2chQq+slEaBqhVLw16o2trmPbtzY8LgRVLyyWD1uLGVYfR6qZLFiN27sNTVurPpuS/6F/UbpULLAUboT8QZJN7F8jI5fMoBsuOOXLGmUSHcvlBwKb8nwsVl4DVUPlBPIXeJ5Wonn5kdbrIG265SEpNnx6aPqh1vWH3RZZZuvJxsnvo7RUKXKLsVsLsWs+kxka28oq8LmF+YQcMBsH768i7coauvrrU9LGGUvyvCeh0NIUXzdqV4nlnzo8lWX9SezSpOPYV8l0aC2F93V3HXs44C77zsUIxg5Xl1JiPZy5Jgzh+Hv5Hxs7SS8T3keIhrOOq57qpgG35KKlDFLxqPjM6vkozssFRlfvSofKeZt9eQna5a9hxTFrIhqeRXMbpImJRlr699m6vzO3n6nbJFos36n5LM8nd9p3++AE/M76oKAzcSny59PLH8Gxfy5bM1BqfJb24vHprrmoKns+ahR7KRVvFqiWNr9D54rrs89lXy2qHUh730FrIpZpxe0vPoYoa4e2PQ1pVOJTY3V39iEQW2upSRBbna60iz7UxHdDEFDXqW/l1fZgwxsN/sLaOkH+LM/JGdc/g8=&lt;/diagram&gt;&lt;/mxfile&gt;&quot;}"></div>
    <script type="text/javascript" src="https://www.draw.io/js/viewer.min.js"></script>

    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        Learn how to build ASP.NET apps that can run anywhere.
                        <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                            Learn More
                        </a>
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        There are powerful new features in Visual Studio for building modern web apps.
                        <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                            Learn More
                        </a>
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="~/images/banner3.svg" alt="Microsoft Azure" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                        <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                            Learn More
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="row">
        <div class="col-md-3">
            <h2>Application uses</h2>
            <ul>
                <li>Sample pages using ASP.NET Core Razor Pages</li>
                <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>How to</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?linkid=852130">Working with Razor Pages.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Overview</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Run &amp; Deploy</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure App Service</a></li>
            </ul>
        </div>
    </div>
